#bg-index {
    background-color: lightblue;
}
#bg-dadospessoais {
    background-color: red;
}
#bg-formacao {
    background-color: gray;
}
#bg-experiencias {
    background-color: yellow;
}
h1 {
    color: white;
    text-align: center;
}
p {
    color: black;
    text-align: center;
}